@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
   background-image: url('./assets/background.png'); /* relative to public folder or absolute path */
  background-size: cover;      /* ensures the image covers the whole screen */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* optional: for parallax-like effect */
}

.backface-hidden {
  backface-visibility: hidden;
}

.perspective {
  perspective: 1000px;
}
.transform-style {
  transform-style: preserve-3d;
}
